.fa-wrench {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  cursor: pointer;
  z-index: 1;

  transition: 0.3s ease color;
}

.fa-wrench:hover {
  color: white;
}

.fa-times {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s ease color;
}

.fa-times:hover {
  color: white;
}

.map-settings {
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 100svh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 2px solid white;
  backdrop-filter: blur(8px);

  transition: 0.3s ease width, 0.3s ease left;
}

.map-settings__visible {
  width: 300px;
  left: calc(100% - 300px);
}

.map-heroes {
  display: flex;
  margin-top: 10px;
  column-gap: 10px;
}

.map-heroes-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.map-heroes-item-line img {
  width: 40px;
  height: 40px;
  cursor: auto;
}

.map-heroes-item-img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 100%;
  background-color: #aaaaaa40;
}

.map-heroes-item-img:nth-child(2) {
  border: 2px solid blue;
}

.map-heroes-item-img:nth-child(3) {
  border: 2px solid red;
}

.map-heroes-container {
  margin-top: 30px;
  border-radius: 5px;
  width: 270px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #aaaaaa20;
}

.map-heroes-container img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid gray;
  cursor: pointer;
  transition: 0.3s ease transform;
}

.map-heroes-container img:hover {
  transform: scale(1.1);
}

.map__hero-active {
  border: 2px solid white !important;
}

.map-arrows-settings {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#arrows-mode {
  display: none;
}

#arrows-mode + label {
  position: relative;
  margin-left: 25px;
  cursor: pointer;
  user-select: none;
}

#arrows-mode + label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #aaaaaa20;
  border: 1px solid white;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}

#arrows-mode:checked ~ label::before {
  background-color: green;
}

.map-arrows-settings input {
  background-color: #aaaaaa20;
  border: none;
  color: white;
  font-size: 16px;
  width: 30px;
  text-align: center;
  outline: none;
}

.map-arrows-settings label {
  color: white;
}

.arrows-settings-container {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease height;
}

.arrows-settings-container__visible {
  height: 40px;
}

.settings-buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.settings-buttons button {
  background-color: #aaaaaa20;
  padding: 5px 10px;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease background-color;
  white-space: nowrap;
  width: 45%;
}

.settings-buttons button:hover {
  background-color: #aaaaaa40;
}
