.tier-list-container {
	position: absolute;
	left: 100%;
	height: 100vh;
	width: 100vw;
	background: url(../../images/background.png) no-repeat;
	background-size: cover;
	overflow: hidden;
}

.tier-list__categories {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	height: 100%;
	width: 100%;
}

.tier-list__categorie {
	display: flex;
	position: relative;
	align-items: center;
	background-color: #22222290;
	column-gap: 5px;
	padding: 5px;
	border-radius: 5px;
	width: 60%;
	margin: 5px 0;
}

.tier-list__categorie-letter {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px ;
	width: 80px;
	height: 100%;
}

.tier-list__categorie-letter p {
	font-size: 24px;
	color: white;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tier-list__categorie-content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	min-height: 80px;
	width: 100%;
	margin: 5px;
	padding: 5px;
	transition: .3s ease box-shadow;
}

.tier-list__categorie-content:hover { box-shadow: 0 0 1px 1px #FFFFFF50; }
.tier-list__categorie-content .items-container__item p { display: none; }
.tier-list__categorie-content .items-container__item img { margin: 0; }
.tier-list__categorie-content .items-container__item { cursor: no-drop; }

.tier-list__categorie-content-settings {
	position: absolute;
	left: calc(100% + 20px);
}

.tier-list__search-input {
	padding: 5px 0 5px 10px;
	background-color: #aaaaaa20;
	color: white;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 14px;

	transition: 0.3s ease background-color;
}

.tier-list__search-input::placeholder {
	color: white;
	transition: 0.3s ease transform;
}

.tier-list__search-input:hover,
.tier-list__search-input:focus{
	background-color: #aaaaaa40;
}

.tier-list__search-input:focus::placeholder {
	transform: translateY(-150%);
}

.tier-list__categorie-content-settings i {
	font-size: 20px;
	color: #FFFFFF50;
	cursor: pointer;
	transition: .3s ease color;
}

.tier-list__categorie-content-settings i:hover { color: white; }

.tier-list__items-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
	height: 280px;
	width: 100%;
	background-color: #22222250;
	border-top: 1px solid white;
	border-radius: 5px;
	box-shadow: 0 0 15px 1px gray;
	bottom: 0;
	transition: .3s ease bottom;
}

.tier-list__items-container--hidden { bottom: -280px; }

.tier-list__items-container--toggle {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateY(-50%);
	font-size: 24px;
	background-color: #222222;
	border-radius: 5px;
	color: white;
	padding: 3px 7px;
	border: none;
	cursor: pointer;
	transition: .3s ease box-shadow;
}

.tier-list__items-container--toggle.items-container--hidden { transform: translateY(-100%); }

.tier-list__items-container--toggle:hover {
	box-shadow: 0 0 5px 2px #FFFFFF50;
	background-color: #22222250;
}

.tier-list__items-container--toggle.items-container--hidden i { transform: rotate(180deg); }

.items-container-settings__categories {
	display: flex;
	column-gap: 15px;
	padding-bottom: 10px;
}

.items-container-settings__categories p {
	color: #FFFFFF50;
	cursor: pointer;
	transition: .3s ease color;
}

.items-container-settings__categories p:hover { color: white; }

.items-container__categorie--active { color: white !important; }

.items-container__items {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto;
	overflow-y: auto;
	padding-top: 5px;
}

.items-container__item {
	text-align: center;
	padding: 15px 0;
	border-radius: 10px;
	cursor: grab;
	transition: .3s ease background-color;
}

.items-container__item img {
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
	border-radius: 100%;
	transition: .3s ease box-shadow;
}

.items-container__item p {
	font-size: 16px;
	color: white;
}

.items-container__item:hover > img { box-shadow: 0 0 1px 2px white; }
.items-container__item:hover { background-color: #22222250; }

.tier-list__item--active {
	box-shadow: 0 0 1px 2px white;
	z-index: -1;
}

.tier-list__item--active:active { cursor: grabbing; }