.builds-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 150px;
  padding: 0 20px;
  width: calc(100% + 40px);
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.builds-container::-webkit-scrollbar {
  width: 4px;
}

.builds-container::-webkit-scrollbar-track {
  background: transparent;
}

.builds-container::-webkit-scrollbar-thumb {
  background-color: gray;
}

.build {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 103px;
  padding: 20px;
  border-radius: 5px;
  background-color: #aaaaaa20;
  transition: 0.3s ease background-color;
}

.build:hover {
  background-color: #aaaaaa40;
}

.build img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 5px;
  transition: 0.3s ease transform;
}

.build img:hover {
  transform: scale(1.1);
}

.build-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.build-item-cost,
.total-build-price {
  color: rgb(202, 202, 23);
}

.total-build-price {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
}

.build-items {
  display: flex;
  column-gap: 5px;
}

.build-heroes {
  position: absolute;
  background-color: #aaaaaa40;
  backdrop-filter: blur(12px);
  border-radius: 5px 0 5px 5px;
  top: 100%;
  left: 0;
  width: 300px;
  height: 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 2;
  overflow-y: auto;
  transition: 0.3s ease height, 0.3s ease padding;
}

.build-hero {
  position: relative;
}

.build-hero-item {
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 100%;
}

.build-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.build-buttons i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  transition: 0.3s ease color;
  cursor: pointer;
}

.build-buttons i:hover {
  color: white;
}

.build-base-emblems {
  position: absolute;
  top: calc(100% + 35px);
  left: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaaaaa20;
  border-radius: 5px;
}

.build-base-emblems-container {
  position: absolute;
  width: 250px;
  height: 0;
  border-radius: 5px;
  top: calc(100% + 5px);
  left: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 25px;
  background-color: #aaaaaa20;
  z-index: 2;
  backdrop-filter: blur(12px);
  overflow: hidden;

  transition: 0.3s ease height;
}

.build-emblems {
  position: absolute;
  top: calc(100% + 35px);
  left: 41%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #aaaaaa20;
  z-index: 2;
}

.emblems-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  top: calc(100% + 5px);
  left: 0;
  border-radius: 5px;
  width: 250px;
  height: 0;
  background-color: #aaaaaa20;
  backdrop-filter: blur(12px);
  padding: 20px;
  overflow: hidden;
  z-index: 3;

  transition: 0.3s ease height;
}

.build-stats {
  position: absolute;
  height: 89px;
  width: 200px;
  top: calc(100% + 35px);
  left: 67%;
  color: white;
  background-color: #aaaaaa20;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-wrap: wrap;
  overflow-y: scroll;
}

.build-stats p {
  white-space: nowrap;
  width: 100%;
}

.add-build {
  position: relative;
  width: 40px;
  height: 40px;
  top: 7%;
  left: 50%;
  transform: translateY(-50%);
}

.add-build button {
  position: absolute;
  padding: 10px;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
}

.add-build i {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease color;
}

.add-build button:hover i {
  color: white;
}
