.items-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background: url(/assets/images/background.png) no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease opacity;
  overflow: hidden;
  display: flex;
}

.items-categories {
  margin: 15px 0 0 70px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px 50px 0;
  width: 515px;
  gap: 10px;
  height: 100svh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.items-container__visible {
  opacity: 100;
  z-index: 1;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 20px;
  padding: 7px 5px;
  transition: 0.3s ease background-color;
}

.item:hover {
  background-color: #aaaaaa20;
}

.item__active {
  background-color: #aaaaaa20;
}

.item-img {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: gray;
}

.item-img img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.item-text {
  margin-top: 10px;
  text-align: center;
  color: white;
  white-space: nowrap;
  width: 150px;
}

.item-text p:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-text p:last-child {
  color: rgb(202, 202, 23);
}

.item-description {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 0 20px 20px 20px;
  transform: scale(0.0001);
  background-color: #141c2f;
  border: 2px solid white;
  z-index: 2;
  overflow-y: scroll;

  transition: 0.3s ease transform;
  transition-delay: 0.7s;
}

.item:nth-child(3n + 3) .item-description {
  position: absolute;
  top: 30%;
  left: -100%;
  text-align: right;
  color: white;
  width: 250px;
  padding: 20px;
  border-radius: 20px 0 20px 20px;
  transform: scale(0.0001);
  background-color: #141c2f;
  border: 2px solid white;
  z-index: 2;

  transition: 0.3s ease transform;
  transition-delay: 1.5s;
}

.item-description p:last-child {
  margin-top: 10px;
}

.item:hover .item-description {
  transform: scale(1);
}
