.container {
  position: relative;
  width: 600px;
  height: 600px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.heroes-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 50px);
  height: calc(600px - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
  column-gap: 30px;
  row-gap: 40px;
  padding: 17px 15px;
}

.hero {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;

  transition: 0.3s ease transform, 0.3s ease box-shadow;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.01;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.hero:hover {
  transform: scale(1.2);
  box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.2);
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hero p {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 5px);
  font-size: 12px;
  white-space: nowrap;
}

.hero__active {
  border: 2px solid white;
}

.hero__picked {
  opacity: 50%;
  z-index: -1;
}

.team-blue {
  position: absolute;
  left: -70px;
  top: 0;
}

.team-red {
  position: absolute;
  right: -70px;
  top: 0;
  transform: rotateY(180deg);
}

.team-red img {
  transform: rotateY(-180deg);
}

.language {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  right: 30px;
  top: 30px;
}

.language ul {
  display: flex;
  column-gap: 10px;
}

.language ul li {
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease color;
}

.language ul li:hover {
  color: white;
}

.language__active {
  color: white;
}
