.pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.pick-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.pick-item img {
  padding: 5px;
}
