.roles,
.items-categories {
  padding-bottom: 15px;
}

.roles ul,
.items-categories {
  display: flex;
  column-gap: 15px;
}

.roles ul li,
.items-categories li {
  list-style: none;
}

.role__active,
.categorie__active {
  color: white !important;
}

.roles ul li button,
.items-categories li button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);

  transition: 0.3s ease color;
}

.roles ul li button:hover,
.items-categories li button:hover {
  color: white;
}
