* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #171717;
  max-width: 1920px;
}

.container {
  position: relative;
  width: 600px;
  height: 614px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

/* Roles */

.roles {
  padding-bottom: 15px;
}

.roles ul {
  display: flex;
  column-gap: 15px;
}

.roles ul li {
  list-style: none;
}

.role__active {
  color: white !important;
}

.roles ul li button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);

  transition: 0.3s ease color;
}

.roles ul li button:hover {
  color: white;
}

/* Preloader */

.preloader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  z-index: 1;
}

.preloader-square {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 100%;
  animation: preloader 5s infinite linear;
}

@keyframes preloader {
  0% {
    border-radius: 0%;
    transform: rotate(0);
  }
  50% {
    border-radius: 100%;
    transform: rotate(360deg);
  }
  100% {
    border-radius: 0;
    transform: rotate(360deg);
  }
}

/* Heroes */

.heroes-container {
  position: relative;
  display: none;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 50px);
  height: calc(600px - 36px);
  overflow-y: scroll;
  overflow-x: hidden;
  column-gap: 30px;
  row-gap: 40px;
}

.heroes-container::-webkit-scrollbar {
  width: 4px;
}

.heroes-container::-webkit-scrollbar-track {
  background: transparent;
}

.heroes-container::-webkit-scrollbar-thumb {
  background-color: gray;
}

.hero {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;

  transition: 0.3s ease transform, 0.3s ease box-shadow;
}

.hero:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px 2px white;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hero p {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 5px);
  font-size: 12px;
  white-space: nowrap;
}

.hero__active {
  border: 2px solid white;
}

.hero__picked {
  opacity: 50%;
  z-index: -1;
}

.team-blue {
  position: absolute;
  left: -70px;
  top: 0;
}

.team-red {
  position: absolute;
  right: -70px;
  top: 0;
  transform: rotateY(180deg);
}

/* Picks */

.pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.pick-item {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  background-color: gray;
}

/* Bans */

.ban {
  position: absolute;
  top: -50px;
  left: 60px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.ban-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  background-color: gray;
}

.pick-item img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.ban-item img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* Notes */

.add-note,
.change-note-visibility {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px 12px;
  border-radius: 100%;
  color: gray;
  font-size: 16px;
  background-color: black;
  cursor: pointer;
  transition: 0.3s ease color;
}

.change-note-visibility {
  left: 55px;
}

.add-note:hover,
.change-note-visibility:hover {
  color: white;
}

.notes {
  display: flex;
  gap: 10px;
  position: absolute;
  flex-wrap: wrap;
  width: 370px;
  height: 90svh;
  overflow-y: scroll;
  top: 70px;
  left: 10px;
  padding: 20px 0;
}

.notes::-webkit-scrollbar {
  width: 6px;
}

.notes::-webkit-scrollbar-thumb {
  background-color: black;
}

.note {
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transition: 0.3s ease transform;
}

.note input {
  background-color: rgba(0, 0, 0, 0.501);
  color: white;
  font-size: 16px;
  width: 170px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: center;
}

.note input::placeholder {
  color: white;
}

.note textarea {
  margin-top: 5px;
  width: 170px;
  height: 150px;
  background-color: black;
  color: white;
  padding: 5px;
  border: none;
  resize: none;
}

/* Note menu */

.note-menu {
  position: absolute;
  overflow: hidden;
  height: 0;
  left: 0;
  top: 0;
  background-color: #171717;
  width: 150px;

  transition: 0.3s ease height;
}

.note-menu p {
  color: white;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);

  transition: 0.3s ease background-color;
}

.note-menu p:hover {
  background-color: black;
}

/* Reset */

.reset {
  position: absolute;
  top: -40px;
  transform: translateX(-50%);
  left: 50%;
  font-size: 24px;
  cursor: pointer;
}

.reset i {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease color;
}

.reset i:hover {
  color: white;
}

.reset .fa-undo-alt:hover {
  animation: reset-rotate infinite 2s ease;
}

@keyframes reset-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.reset-buttons {
  position: absolute;
  display: none;
  left: -30px;
  top: 0;
  column-gap: 20px;
}

.reset-buttons i:hover {
  transform: scale(1.1);
}

.reset-buttons i {
  transition: 0.3s ease transform;
}

/* Ranks */

.ranks {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  column-gap: 20px;
}

.rank {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease color;
  cursor: pointer;
}

.rank:hover {
  color: white;
}

.rank__active {
  color: white;
}
