* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: #171717;
}

.container {
  position: relative;
  width: 700px;
  height: 600px;
  padding: 20px;
  background-color: black;
  border-radius: 5px;
}

.roles {
  padding-bottom: 15px;
}

.roles ul {
  display: flex;
  column-gap: 15px;
}

.roles ul li {
  list-style: none;
}

.role__active {
  color: white !important;
}

.roles ul li button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);

  transition: 0.3s ease color;
}

.roles ul li button:hover {
  color: white;
}

.heroes-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 50px);
  height: calc(600px - 40px);
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 30px;
}

.heroes-container::-webkit-scrollbar {
  width: 4px;
}

.heroes-container::-webkit-scrollbar-track {
  background: transparent;
}

.heroes-container::-webkit-scrollbar-thumb {
  background-color: gray;
}

.hero {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;

  transition: 0.3s ease transform;
}

.hero:hover {
  transform: translateY(4px);
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.hero p {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 5px);
  font-size: 12px;
  white-space: nowrap;
}

.hero__active {
  border: 2px solid white;
}

.team-blue {
  position: absolute;
  left: -70px;
  top: 0;
}

.team-red {
  position: absolute;
  right: -70px;
  top: 0;
  transform: rotateY(180deg);
}

.pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.pick-item {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  background-color: gray;
}

.ban {
  position: absolute;
  top: -50px;
  left: 60px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.ban-item {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
  background-color: gray;
}

.pick-item img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.ban-item img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.add-note,
.add-note__opened {
  position: absolute;
  top: 3%;
  left: 23.5%;
  padding: 20px;
  background-color: #aaaaaa10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 50%;
  cursor: pointer;
  transition: 0.3s ease opacity;
}

.add-note__opened .add-note-stick:nth-child(1) {
  transform: rotate(45deg);
}

.add-note__opened .add-note-stick:nth-child(2) {
  transform: rotate(-45deg);
}

.add-note:hover {
  opacity: 100%;
}

.add-note-stick {
  position: absolute;
  width: 20px;
  height: 5px;
  border-radius: 10px;
  background-color: white;

  transition: 0.3s ease transform;
}

.add-note-stick:nth-child(1) {
  transform: rotate(90deg);
}

.note {
  position: absolute;
  display: block;
  left: 50px;
  top: 10%;
  color: white;
  font-size: 16px;
  background-color: black;
  border-radius: 5px;
  resize: none;
  height: 400px;
  width: 300px;
  transform: translateY(5px);

  transition: 0.3s ease opacity, 0.5s ease transform;
}

.note__hidden {
  opacity: 0;
  transform: translateY(0);
  z-index: -1;
}
